# Data Pipeline Demo

## 0. Load Required Libraries

In [1]:
from sklearn.model_selection import train_test_split
from tqdm import tqdm
import pandas as pd
import numpy as np 
import joblib
import os
import yaml
import src.util as util

## 1. Load Configuration File

In [111]:
config_data = util.load_config()

## 2. Data Collection

In [60]:
def read_raw_data(config: dict) -> pd.DataFrame:
    # Create variable to store raw dataset
    raw_dataset = pd.DataFrame()

    # Raw dataset dir
    raw_dataset_file = config["raw_dataset_file"]

    # Look and load add CSV files
    raw_dataset = pd.read_excel(raw_dataset_file,engine='pyxlsb')
    
    # Return raw dataset
    return raw_dataset

In [61]:
raw_dataset = read_raw_data(config_data)

In [62]:
# Check our data
raw_dataset

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,40-42,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45-50,NaN,3,3,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35-37,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18 - 34,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18 - 34,NaN,5,5,5,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158514,18 - 34,NaN,3,3,0,3,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158515,38-39,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158516,38-39,NaN,1,1,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158517,18 - 34,NaN,2,0,0,2,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158518,18 - 34,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Try to reset the index to solve first problem
raw_dataset.reset_index(inplace = True, drop = True)

In [64]:
# Now check the result
raw_dataset

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,40-42,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45-50,NaN,3,3,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35-37,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18 - 34,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18 - 34,NaN,5,5,5,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158514,18 - 34,NaN,3,3,0,3,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158515,38-39,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158516,38-39,NaN,1,1,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158517,18 - 34,NaN,2,0,0,2,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158518,18 - 34,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
raw_dataset.columns = raw_dataset.columns.str.lower().str.replace('-','').str.replace('_','').str.replace(',','').str.replace('   ',' ').str.replace('  ',' ').str.replace(' ','_')

In [75]:
raw_dataset.columns

Index(['patient_age_at_treatment',
       'date_patient_started_trying_to_become_pregnant_or_date_of_last_pregnancy',
       'total_number_of_previous_cycles_both_ivf_and_di',
       'total_number_of_previous_treatments_both_ivf_and_di_at_clinic',
       'total_number_of_previous_ivf_cycles',
       'total_number_of_previous_di_cycles',
       'total_number_of_previous_pregnancies_both_ivf_and_di',
       'total_number_of_ivf_pregnancies', 'total_number_of_di_pregnancies',
       'total_number_of_live_births_conceived_through_ivf_or_di',
       'total_number_of_live_births_conceived_through_ivf',
       'total_number_of_live_births_conceived_through_di',
       'type_of_infertility_female_primary',
       'type_of_infertility_female_secondary',
       'type_of_infertility_male_primary',
       'type_of_infertility_male_secondary',
       'type_of_infertility_couple_primary',
       'type_of_infertility_couple_secondary',
       'cause_of_infertility_tubal_disease',
       'cause_of_infertility_ovulatory_disorder',
       'cause_of_infertility_male_factor',
       'cause_of_infertility_patient_unexplained',
       'cause_of_infertility_endometriosis',
       'cause_of_infertility_cervical_factors',
       'cause_of_infertility_female_factors',
       'cause_of_infertility_partner_sperm_concentration',
       'cause_of_infertility_partner_sperm_morphology',
       'causes_of_infertility_partner_sperm_motility',
       'cause_of_infertility_partner_sperm_immunological_factors',
       'main_reason_for_producing_embroys_storing_eggs', 'stimulation_used',
       'type_of_ovulation_induction', 'egg_donor_age_at_registration',
       'sperm_donor_age_at_registration', 'donated_embryo',
       'patient_acting_as_surrogate', 'type_of_treatment_ivf_or_di',
       'specific_treatment_type', 'pgd', 'pgd_treatment', 'pgs',
       'pgs_treatment', 'elective_single_embryo_transfer', 'egg_source',
       'sperm_from', 'fresh_cycle', 'frozen_cycle', 'eggs_thawed',
       'fresh_eggs_collected', 'fresh_eggs_stored', 'total_eggs_mixed',
       'eggs_mixed_with_partner_sperm', 'eggs_mixed_with_donor_sperm',
       'total_embryos_created', 'eggs_microinjected',
       'embryos_from_eggs_microinjected', 'total_embryos_thawed',
       'embryos_transfered', 'embryos_transfered_from_eggs_microinjected',
       'embryos_stored_for_use_by_patient',
       'embryos_(from_eggs_microinjected)_stored_for_use_by_patient',
       'date_of_egg_collection', 'date_of_egg_thawing', 'date_of_egg_mixing',
       'date_of_embryo_thawing', 'date_of_embryo_transfer',
       'year_of_treatment', 'live_birth_occurrence', 'number_of_live_births',
       'early_outcome', 'number_of_foetal_sacs_with_fetal_pulsation',
       'heart_one_weeks_gestation', 'heart_one_birth_outcome',
       'heart_one_birth_weight', 'heart_onesex', 'heart_one_delivery_date',
       'heart_one_birth_congenital_abnormalities', 'heart_two_weeks_gestation',
       'heart_two_birth_outcome', 'heart_two_birth_weight', 'heart_two_sex',
       'heart_two_delivery_date', 'heart_two_birth_congenital_abnormalities',
       'heart_three_weeks_gestation', 'heart_three_birth_outcome',
       'heart_three_birth_weight', 'heart_three_sex',
       'heart_three_delivery_date',
       'heart_three_birth_congenital_abnormalities',
       'heart_four_weeks_gestation', 'heart_four_birth_outcome',
       'heart_four_birth_weight', 'heart_four_sex', 'heart_four_delivery_date',
       'heart_four_birth_congenital_abnormalities'],
      dtype='object')

In [76]:
# Save raw dataset to file
util.pickle_dump(raw_dataset, config_data["raw_dataset_path"])

## 2. Data Definition

In [77]:
# Define data type, range of data and some explanation out data for each variable

In [78]:
for col in raw_dataset.columns:
    print(col)
    print(raw_dataset[col].unique()[:10])
    print(raw_dataset[col].nunique())
    print()

patient_age_at_treatment
['40-42' '45-50' '35-37' '18 - 34' '43-44' '38-39' '999']
7

date_patient_started_trying_to_become_pregnant_or_date_of_last_pregnancy
[nan 13. 11. 10. 15. 16. 17. 14. 19. 12.]
18

total_number_of_previous_cycles_both_ivf_and_di
['2' '3' '0' '5' '>=5' '1' '4']
7

total_number_of_previous_treatments_both_ivf_and_di_at_clinic
['2' '3' '0' '5' '1' '>=5' '4']
7

total_number_of_previous_ivf_cycles
['2' '3' '0' '5' '4' '1' '>=5']
7

total_number_of_previous_di_cycles
['0' '3' '>=5' '1' '2' '4' '5']
7

total_number_of_previous_pregnancies_both_ivf_and_di
['0' '1' '2' '4' '3' '5' '>=5']
7

total_number_of_ivf_pregnancies
['0' '1' '2' '4' '3' '5' '>=5']
7

total_number_of_di_pregnancies
[0 1 3 2 4]
5

total_number_of_live_births_conceived_through_ivf_or_di
[0 1 2 3 5 4]
6

total_number_of_live_births_conceived_through_ivf
[0 1 2 3 5 4]
6

total_number_of_live_births_conceived_through_di
[0 1 2 3]
4

type_of_infertility_female_primary
[0 1]
2

type_of_infertility_female_secondary
[0 1]
2

type_of_infertility_male_primary
[0 1]
2

type_of_infertility_male_secondary
[0 1]
2

type_of_infertility_couple_primary
[0 1]
2

type_of_infertility_couple_secondary
[0 1]
2

cause_of_infertility_tubal_disease
[0 1]
2

cause_of_infertility_ovulatory_disorder
[0 1]
2

cause_of_infertility_male_factor
[0 1]
2

cause_of_infertility_patient_unexplained
[1 0]
2

cause_of_infertility_endometriosis
[0 1]
2

cause_of_infertility_cervical_factors
[0 1]
2

cause_of_infertility_female_factors
[0]
1

cause_of_infertility_partner_sperm_concentration
[0 1]
2

cause_of_infertility_partner_sperm_morphology
[0 1]
2

causes_of_infertility_partner_sperm_motility
[0 1]
2

cause_of_infertility_partner_sperm_immunological_factors
[0]
1

main_reason_for_producing_embroys_storing_eggs
['Treatment Now ' 'For Storing Eggs ' 'For Storing Embryos '
 'For Donation ' 'Treatment Now ,For Donation '
 'For Donation ,For Storing Eggs ' 'Treatment Now ,For Storing Embryos '
 'For Donation ,For Storing Embryos '
 'Treatment Now ,For Donation ,For Storing Embryos '
 'For Storing Embryos ,For Storing Eggs ,For Research ']
12

stimulation_used
[0 1]
2

type_of_ovulation_induction
[nan 'Yes but not recorded' 'Cetrotide ']
2

egg_donor_age_at_registration
[nan 'Between 21 and 25' 'Between 26 and 30' 'Between 31 and 35' '999'
 '<= 20']
5

sperm_donor_age_at_registration
[nan 'Between 26 and 30' 'Between 21 and 25' 'Between 41 and 45'
 'Between 31 and 35' '999' '<= 20' 'Between 36 and 40']
7

donated_embryo
[ 0.  1. nan]
2

patient_acting_as_surrogate
[ 0.  1. nan]
2

type_of_treatment_ivf_or_di
['IVF' 'DI']
2

specific_treatment_type
['IVF' 'ICSI' 'Unknown' 'IVF:IVF' 'ICSI:ICSI' 'IVF:Unknown' 'ICSI:Unknown'
 'ICSI:IVF' 'ICSI / BLASTOCYST ' 'IVF:ICSI']
19

pgd
[ 0.  1. nan]
2

pgd_treatment
[nan  1.]
1

pgs
[nan  1.]
1

pgs_treatment
[nan  1.]
1

elective_single_embryo_transfer
[ 1.  0. nan]
2

egg_source
['Patient' 'Donor' nan]
2

sperm_from
['Partner' 'Donor' 'not assigned' 'Partner & Donor']
4

fresh_cycle
[ 0.  1. nan]
2

frozen_cycle
[ 1.  0. nan]
2

eggs_thawed
[ 0.  3.  6.  9.  8. 12.  5. 10.  7. 11.]
31

fresh_eggs_collected
['0' '4' '12' '6' '1' '31' '8' '11' '34' '10']
52

fresh_eggs_stored
[ 0.  6.  4. 34. 10. 17. 13.  9.  1. 12.]
38

total_eggs_mixed
['0' '3' '4' '6' '1' '13' '8' '11' '10' '7']
52

eggs_mixed_with_partner_sperm
['0' '3' '4' '1' '13' '8' '11' '10' '7' '15']
52

eggs_mixed_with_donor_sperm
['0' '6' '4' '3' '20' '17' '12' '1' '9' '5']
45

total_embryos_created
['0' '3' '4' '1' '8' '6' '2' '9' '7' '5']
45

eggs_microinjected
['0' '3' '4' '6' '1' '13' '10' '9' '2' '7']
50

embryos_from_eggs_microinjected
[0. 3. 4. 1. 8. 6. 9. 7. 5. 2.]
40

total_embryos_thawed
[ 1.  0.  2.  4.  3.  5.  6. 10.  8. 11.]
27

embryos_transfered
[ 1.  2.  0.  3. nan]
4

embryos_transfered_from_eggs_microinjected
[ 0.  2.  3.  1. nan]
4

embryos_stored_for_use_by_patient
[ 0.  1.  2.  5.  3.  8.  4.  7. 10.  6.]
35

embryos_(from_eggs_microinjected)_stored_for_use_by_patient
[ 0.  1.  3.  2.  5.  7. 10.  6.  4.  9.]
31

date_of_egg_collection
[nan  0.]
1

date_of_egg_thawing
[ nan   0. 999.   5.   1.]
4

date_of_egg_mixing
[ nan   0.   6.   1.   2. 999.   5.   3.   4.]
8

date_of_embryo_thawing
[  0.  nan   5. 999.   1.   3.   6.   4.   2.   7.]
9

date_of_embryo_transfer
[  0.   5.  nan   3.   1.   2.   6. 999.   4.   7.]
9

year_of_treatment
[2016 2015]
2

live_birth_occurrence
[ 1. nan]
1

number_of_live_births
[1 0 2 3 4]
5

early_outcome
['Intrauterine Fetal Pulsation Seen ' 'None ' nan
 'Biochemical Pregnancy Only ' 'Misscarriage '
 'Misscarriage ,Intrauterine Fetal Pulsation Seen ' 'Ectopic '
 'None ,Intrauterine Fetal Pulsation Seen ' 'Hetrotopic '
 'Hetrotopic ,Intrauterine Fetal Pulsation Seen ']
17

number_of_foetal_sacs_with_fetal_pulsation
[ 1  0  2  3 40  4]
6

heart_one_weeks_gestation
['39' nan '35' '38' 'Greater than 40 weeks' '40' '37' '36'
 'Less than 30 weeks' '31']
13

heart_one_birth_outcome
['Live  Birth' nan 'Miscarriage' 'Still Birth' 'Lost to Follow Up'
 'Termination' 'Embryo Reduction' 'Ectotopic/Hetrotopic Pregnancy']
7

heart_one_birth_weight
['Between 3.5kg and 3.99Kg' nan 'Between 2.5kg and 2.99Kg'
 'Between 3.0kg and 3.49Kg' 'Between 4.5kg and 4.99Kg'
 'Between 2.0kg and 2.49Kg' 'Between 4.0kg and 4.49Kg'
 'Between 1.5kg and 1.99Kg' 'Between 1kg and 1.49Kg'
 'Between 5.0kg and 5.49Kg']
12

heart_onesex
['F' nan 'M']
2

heart_one_delivery_date
[ 999.   nan 2016. 2015. 2014. 2013. 2007.]
6

heart_one_birth_congenital_abnormalities
[nan]
0

heart_two_weeks_gestation
[nan '37' '38' '36' '35' 'Greater than 40 weeks' 'Less than 30 weeks' '39'
 '33' '34']
13

heart_two_birth_outcome
[nan 'Live  Birth' 'Miscarriage' 'Still Birth' 'Embryo Reduction'
 'Ectotopic/Hetrotopic Pregnancy']
5

heart_two_birth_weight
[nan 'Between 1.5kg and 1.99Kg' 'Between 2.5kg and 2.99Kg'
 'Between 2.0kg and 2.49Kg' 'Between 3.0kg and 3.49Kg' 'Less than 1kg'
 'Between 3.5kg and 3.99Kg' 'Between 4.0kg and 4.49Kg'
 'Between 1kg and 1.49Kg' 'Between 4.5kg and 4.99Kg']
12

heart_two_sex
[nan 'F' 'M']
2

heart_two_delivery_date
[  nan  999. 2016. 2015. 2014.]
4

heart_two_birth_congenital_abnormalities
[nan]
0

heart_three_weeks_gestation
[nan 'Less than 30 weeks' '31' '32' '34' '36' '38' '37' '33' '40']
13

heart_three_birth_outcome
[nan 'Live  Birth' 'Miscarriage' 'Embryo Reduction' 'Still Birth']
4

heart_three_birth_weight
[nan 'Between 1kg and 1.49Kg' 'Between 2.0kg and 2.49Kg'
 'Between 1.5kg and 1.99Kg' 'Between 3.5kg and 3.99Kg'
 'Between 3.0kg and 3.49Kg' 'Less than 1kg' 'Between 2.5kg and 2.99Kg']
7

heart_three_sex
[nan 'M' 'F']
2

heart_three_delivery_date
[  nan  999. 2016. 2015.]
3

heart_three_birth_congenital_abnormalities
[nan]
0

heart_four_weeks_gestation
[nan 'Less than 30 weeks']
1

heart_four_birth_outcome
[nan 'Live  Birth']
1

heart_four_birth_weight
[nan 'Between 1kg and 1.49Kg']
1

heart_four_sex
[nan 'M']
1

heart_four_delivery_date
[  nan 2016.]
1

heart_four_birth_congenital_abnormalities
[nan]
0

## 3. Data Validation

### 3.1. Tipe Data

In [79]:
# Check data type each variable
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158519 entries, 0 to 158518
Data columns (total 95 columns):
 #   Column                                                                    Non-Null Count   Dtype
---  ------                                                                    --------------   -----
 0   patient_age_at_treatment                                                  158519 non-null  object
 1   date_patient_started_trying_to_become_pregnant_or_date_of_last_pregnancy  617 non-null     float64
 2   total_number_of_previous_cycles_both_ivf_and_di                           158519 non-null  object
 3   total_number_of_previous_treatments_both_ivf_and_di_at_clinic             158519 non-null  object
 4   total_number_of_previous_ivf_cycles                                       158519 non-null  object
 5   total_number_of_previous_di_cycles                                        158519 non-null  object
 6   total_number_of_previous_pregnancies_both_ivf_and_di                      158519 non-null  object
 7   total_number_of_ivf_pregnancies                                           158519 non-null  object
 8   total_number_of_di_pregnancies                                            158519 non-null  int64
 9   total_number_of_live_births_conceived_through_ivf_or_di                   158519 non-null  int64
 10  total_number_of_live_births_conceived_through_ivf                         158519 non-null  int64
 11  total_number_of_live_births_conceived_through_di                          158519 non-null  int64
 12  type_of_infertility_female_primary                                        158519 non-null  int64
 13  type_of_infertility_female_secondary                                      158519 non-null  int64
 14  type_of_infertility_male_primary                                          158519 non-null  int64
 15  type_of_infertility_male_secondary                                        158519 non-null  int64
 16  type_of_infertility_couple_primary                                        158519 non-null  int64
 17  type_of_infertility_couple_secondary                                      158519 non-null  int64
 18  cause_of_infertility_tubal_disease                                        158519 non-null  int64
 19  cause_of_infertility_ovulatory_disorder                                   158519 non-null  int64
 20  cause_of_infertility_male_factor                                          158519 non-null  int64
 21  cause_of_infertility_patient_unexplained                                  158519 non-null  int64
 22  cause_of_infertility_endometriosis                                        158519 non-null  int64
 23  cause_of_infertility_cervical_factors                                     158519 non-null  int64
 24  cause_of_infertility_female_factors                                       158519 non-null  int64
 25  cause_of_infertility_partner_sperm_concentration                          158519 non-null  int64
 26  cause_of_infertility_partner_sperm_morphology                             158519 non-null  int64
 27  causes_of_infertility_partner_sperm_motility                              158519 non-null  int64
 28  cause_of_infertility_partner_sperm_immunological_factors                  158519 non-null  int64
 29  main_reason_for_producing_embroys_storing_eggs                            148106 non-null  object
 30  stimulation_used                                                          158519 non-null  int64
 31  type_of_ovulation_induction                                               101208 non-null  object
 32  egg_donor_age_at_registration                                             7711 non-null    object
 33  sperm_donor_age_at_registration                                           21068 non-null   object
 34  donated_embryo                                                            148106 non-null  float64
 35  patient_acting_as_surrogate                                               148106 non-null  float64
 36  type_of_treatment_ivf_or_di                                               158519 non-null  object
 37  specific_treatment_type                                                   158519 non-null  object
 38  pgd                                                                       148106 non-null  float64
 39  pgd_treatment                                                             1405 non-null    float64
 40  pgs                                                                       1929 non-null    float64
 41  pgs_treatment                                                             1000 non-null    float64
 42  elective_single_embryo_transfer                                           148106 non-null  float64
 43  egg_source                                                                148106 non-null  object
 44  sperm_from                                                                158519 non-null  object
 45  fresh_cycle                                                               148106 non-null  float64
 46  frozen_cycle                                                              148106 non-null  float64
 47  eggs_thawed                                                               148106 non-null  float64
 48  fresh_eggs_collected                                                      148106 non-null  object
 49  fresh_eggs_stored                                                         148106 non-null  float64
 50  total_eggs_mixed                                                          148106 non-null  object
 51  eggs_mixed_with_partner_sperm                                             148106 non-null  object
 52  eggs_mixed_with_donor_sperm                                               148106 non-null  object
 53  total_embryos_created                                                     148106 non-null  object
 54  eggs_microinjected                                                        148106 non-null  object
 55  embryos_from_eggs_microinjected                                           148106 non-null  float64
 56  total_embryos_thawed                                                      148106 non-null  float64
 57  embryos_transfered                                                        148106 non-null  float64
 58  embryos_transfered_from_eggs_microinjected                                148106 non-null  float64
 59  embryos_stored_for_use_by_patient                                         148106 non-null  float64
 60  embryos_(from_eggs_microinjected)_stored_for_use_by_patient               148106 non-null  float64
 61  date_of_egg_collection                                                    104463 non-null  float64
 62  date_of_egg_thawing                                                       1093 non-null    float64
 63  date_of_egg_mixing                                                        97807 non-null   float64
 64  date_of_embryo_thawing                                                    38901 non-null   float64
 65  date_of_embryo_transfer                                                   116577 non-null  float64
 66  year_of_treatment                                                         158519 non-null  int64
 67  live_birth_occurrence                                                     38082 non-null   float64
 68  number_of_live_births                                                     158519 non-null  int64
 69  early_outcome                                                             126999 non-null  object
 70  number_of_foetal_sacs_with_fetal_pulsation                                158519 non-null  int64
 71  heart_one_weeks_gestation                                                 37342 non-null   object
 72  heart_one_birth_outcome                                                   43311 non-null   object
 73  heart_one_birth_weight                                                    37178 non-null   object
 74  heart_onesex                                                              37452 non-null   object
 75  heart_one_delivery_date                                                   37403 non-null   float64
 76  heart_one_birth_congenital_abnormalities                                  0 non-null       float64
 77  heart_two_weeks_gestation                                                 5003 non-null    object
 78  heart_two_birth_outcome                                                   5690 non-null    object
 79  heart_two_birth_weight                                                    4942 non-null    object
 80  heart_two_sex                                                             5009 non-null    object
 81  heart_two_delivery_date                                                   4995 non-null    float64
 82  heart_two_birth_congenital_abnormalities                                  0 non-null       float64
 83  heart_three_weeks_gestation                                               123 non-null     object
 84  heart_three_birth_outcome                                                 159 non-null     object
 85  heart_three_birth_weight                                                  118 non-null     object
 86  heart_three_sex                                                           123 non-null     object
 87  heart_three_delivery_date                                                 120 non-null     float64
 88  heart_three_birth_congenital_abnormalities                                0 non-null       float64
 89  heart_four_weeks_gestation                                                1 non-null       object
 90  heart_four_birth_outcome                                                  1 non-null       object
 91  heart_four_birth_weight                                                   1 non-null       object
 92  heart_four_sex                                                            1 non-null       object
 93  heart_four_delivery_date                                                  1 non-null       float64
 94  heart_four_birth_congenital_abnormalities                                 0 non-null       float64
dtypes: float64(32), int64(25), object(38)
memory usage: 114.9+ MB

### 3.2. Range

In [80]:
# Check the range of data for each variable
raw_dataset.describe().T.sort_values(by = 'std',ascending = False)

,count,mean,std,min,25%,50%,75%,max
heart_three_delivery_date,120.0,1668.283333,484.178698,999.0,999.0,2015.0,2016.0,2016.0
heart_one_delivery_date,37403.0,1667.621929,482.478536,999.0,999.0,2016.0,2016.0,2016.0
heart_two_delivery_date,4995.0,1723.221021,460.299141,999.0,999.0,2016.0,2016.0,2016.0
date_of_egg_thawing,1093.0,5.489478,73.847030,0.0,0.0,0.0,0.0,999.0
date_of_egg_mixing,97807.0,2.914986,53.848110,0.0,0.0,0.0,0.0,999.0
date_of_embryo_transfer,116577.0,5.639989,52.725893,0.0,0.0,3.0,5.0,999.0
date_of_embryo_thawing,38901.0,0.623172,24.286163,0.0,0.0,0.0,0.0,999.0
embryos_from_eggs_microinjected,148106.0,2.097201,3.709646,0.0,0.0,0.0,3.0,42.0
date_patient_started_trying_to_become_pregnant_or_date_of_last_pregnancy,617.0,13.247974,3.087748,2.0,11.0,13.0,15.0,20.0
embryos_stored_for_use_by_patient,148106.0,1.000770,2.218000,0.0,0.0,0.0,1.0,37.0
embryos_(from_eggs_microinjected)_stored_for_use_by_patient,148106.0,0.509513,1.614862,0.0,0.0,0.0,0.0,34.0
fresh_eggs_stored,148106.0,0.147901,1.326743,0.0,0.0,0.0,0.0,44.0
total_embryos_thawed,148106.0,0.486530,1.188967,0.0,0.0,0.0,1.0,30.0
eggs_thawed,148106.0,0.061929,0.805638,0.0,0.0,0.0,0.0,33.0
embryos_transfered_from_eggs_microinjected,148106.0,0.512349,0.784595,0.0,0.0,0.0,1.0,3.0
embryos_transfered,148106.0,1.144991,0.767844,0.0,1.0,1.0,2.0,3.0
number_of_foetal_sacs_with_fetal_pulsation,158519.0,0.311603,0.546304,0.0,0.0,0.0,1.0,40.0
number_of_live_births,158519.0,0.268876,0.504899,0.0,0.0,0.0,0.0,4.0
year_of_treatment,158519.0,2015.513774,0.499812,2015.0,2015.0,2016.0,2016.0,2016.0
stimulation_used,158519.0,0.666564,0.471442,0.0,0.0,1.0,1.0,1.0
cause_of_infertility_male_factor,158519.0,0.332906,0.471255,0.0,0.0,0.0,1.0,1.0
elective_single_embryo_transfer,148106.0,0.287571,0.452632,0.0,0.0,0.0,1.0,1.0
cause_of_infertility_patient_unexplained,158519.0,0.270523,0.444231,0.0,0.0,0.0,1.0,1.0
frozen_cycle,148106.0,0.261232,0.439307,0.0,0.0,0.0,1.0,1.0
fresh_cycle,148106.0,0.739565,0.438874,0.0,0.0,1.0,1.0,1.0
total_number_of_live_births_conceived_through_ivf_or_di,158519.0,0.135296,0.366885,0.0,0.0,0.0,0.0,5.0
total_number_of_live_births_conceived_through_ivf,158519.0,0.126389,0.355476,0.0,0.0,0.0,0.0,5.0
cause_of_infertility_ovulatory_disorder,158519.0,0.112725,0.316257,0.0,0.0,0.0,0.0,1.0
cause_of_infertility_tubal_disease,158519.0,0.103577,0.304713,0.0,0.0,0.0,0.0,1.0
cause_of_infertility_endometriosis,158519.0,0.054776,0.227543,0.0,0.0,0.0,0.0,1.0
pgd,148106.0,0.016576,0.127677,0.0,0.0,0.0,0.0,1.0
total_number_of_di_pregnancies,158519.0,0.012024,0.124247,0.0,0.0,0.0,0.0,4.0
total_number_of_live_births_conceived_through_di,158519.0,0.008907,0.100511,0.0,0.0,0.0,0.0,3.0
donated_embryo,148106.0,0.009007,0.094477,0.0,0.0,0.0,0.0,1.0
type_of_infertility_couple_primary,158519.0,0.003722,0.060894,0.0,0.0,0.0,0.0,1.0
type_of_infertility_female_primary,158519.0,0.003501,0.059067,0.0,0.0,0.0,0.0,1.0
patient_acting_as_surrogate,148106.0,0.003281,0.057190,0.0,0.0,0.0,0.0,1.0
type_of_infertility_male_primary,158519.0,0.003274,0.057126,0.0,0.0,0.0,0.0,1.0
type_of_infertility_female_secondary,158519.0,0.001438,0.037898,0.0,0.0,0.0,0.0,1.0
type_of_infertility_male_secondary,158519.0,0.001438,0.037898,0.0,0.0,0.0,0.0,1.0
type_of_infertility_couple_secondary,158519.0,0.001022,0.031952,0.0,0.0,0.0,0.0,1.0
cause_of_infertility_partner_sperm_concentration,158519.0,0.000120,0.010947,0.0,0.0,0.0,0.0,1.0
cause_of_infertility_partner_sperm_morphology,158519.0,0.000069,0.008330,0.0,0.0,0.0,0.0,1.0
cause_of_infertility_cervical_factors,158519.0,0.000025,0.005023,0.0,0.0,0.0,0.0,1.0
causes_of_infertility_partner_sperm_motility,158519.0,0.000019,0.004350,0.0,0.0,0.0,0.0,1.0
date_of_egg_collection,104463.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
pgs,1929.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
pgs_treatment,1000.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
cause_of_infertility_partner_sperm_immunological_factors,158519.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
live_birth_occurrence,38082.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
cause_of_infertility_female_factors,158519.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
pgd_treatment,1405.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
heart_one_birth_congenital_abnormalities,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heart_two_birth_congenital_abnormalities,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heart_three_birth_congenital_abnormalities,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heart_four_delivery_date,1.0,2016.000000,NaN,2016.0,2016.0,2016.0,2016.0,2016.0
heart_four_birth_congenital_abnormalities,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# The result shows us that some data values are 999, which is not true. We need more investigation about it later

### 3.3. Dimensi Data

In [82]:
# It will not be affected
raw_dataset.shape

(158519, 95)

### 3.4. Handling Variables Error

#### 3.4.1. Handing Variabel 'Total Number of Previous IVF cycles'

In [83]:
raw_dataset['total_number_of_previous_ivf_cycles'] = raw_dataset['total_number_of_previous_ivf_cycles'].replace(">=5", 6).astype(int)

#### 3.4.2. Handing Variabel 'Total number of IVF pregnancies'

In [84]:
raw_dataset['total_number_of_ivf_pregnancies'] = raw_dataset['total_number_of_ivf_pregnancies'].replace(">=5", 6).astype(int)

#### 3.4.3. Handing Variabel 'Fresh Cycle'

In [85]:
raw_dataset['fresh_cycle'] = raw_dataset['fresh_cycle'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [86]:
raw_dataset['fresh_cycle'] = raw_dataset['fresh_cycle'].fillna(0).astype(int)

#### 3.4.4. Handing Variabel 'Frozen Cycle'

In [87]:
raw_dataset['frozen_cycle'] = raw_dataset['frozen_cycle'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [88]:
raw_dataset['frozen_cycle'] = raw_dataset['frozen_cycle'].fillna(0).astype(int)

#### 3.4.5. Handing Variabel 'Eggs Source'

In [89]:
raw_dataset['egg_source'] = raw_dataset['egg_source'].fillna('not assigned')

#### 3.4.6. Handing Variabel 'Eggs Thawed'

In [90]:
raw_dataset['eggs_thawed'] = raw_dataset['eggs_thawed'].fillna(0).astype(int)

#### 3.4.7. Handing Variabel 'Fresh Eggs Collected'

In [91]:
raw_dataset['fresh_eggs_collected'] = raw_dataset['fresh_eggs_collected'].replace("> 50", 51)

In [92]:
raw_dataset['fresh_eggs_collected'] = raw_dataset['fresh_eggs_collected'].fillna(0).astype(int)

#### 3.4.8. Handing Variabel 'Eggs Mixed With Partner Sperm'

In [93]:
raw_dataset['eggs_mixed_with_partner_sperm'] = raw_dataset['eggs_mixed_with_partner_sperm'].astype(int)

ValueError: invalid literal for int() with base 10: '> 50'

In [94]:
raw_dataset['eggs_mixed_with_partner_sperm'] = raw_dataset['eggs_mixed_with_partner_sperm'].replace("> 50", 51)

In [95]:
raw_dataset['eggs_mixed_with_partner_sperm'] = raw_dataset['eggs_mixed_with_partner_sperm'].fillna(0).astype(int)

#### 3.4.9. Handing Variabel 'Embryos Transfered'

In [96]:
raw_dataset['embryos_transfered'] = raw_dataset['embryos_transfered'].fillna(0).astype(int)

#### 3.4.9. Handing Variabel "Live birth occurrence"

In [97]:
raw_dataset['live_birth_occurrence'] = raw_dataset['live_birth_occurrence'].fillna(0)

In [98]:
raw_dataset['live_birth_occurrence'] = raw_dataset['live_birth_occurrence'].astype(int)

In [99]:
raw_dataset.drop(index = raw_dataset[raw_dataset["date_of_egg_thawing"] == 999].index, inplace = True)

In [100]:
raw_dataset.drop(index = raw_dataset[raw_dataset["patient_age_at_treatment"] == '999'].index, inplace = True)

In [101]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156125 entries, 0 to 158518
Data columns (total 95 columns):
 #   Column                                                                    Non-Null Count   Dtype
---  ------                                                                    --------------   -----
 0   patient_age_at_treatment                                                  156125 non-null  object
 1   date_patient_started_trying_to_become_pregnant_or_date_of_last_pregnancy  617 non-null     float64
 2   total_number_of_previous_cycles_both_ivf_and_di                           156125 non-null  object
 3   total_number_of_previous_treatments_both_ivf_and_di_at_clinic             156125 non-null  object
 4   total_number_of_previous_ivf_cycles                                       156125 non-null  int64
 5   total_number_of_previous_di_cycles                                        156125 non-null  object
 6   total_number_of_previous_pregnancies_both_ivf_and_di                      156125 non-null  object
 7   total_number_of_ivf_pregnancies                                           156125 non-null  int64
 8   total_number_of_di_pregnancies                                            156125 non-null  int64
 9   total_number_of_live_births_conceived_through_ivf_or_di                   156125 non-null  int64
 10  total_number_of_live_births_conceived_through_ivf                         156125 non-null  int64
 11  total_number_of_live_births_conceived_through_di                          156125 non-null  int64
 12  type_of_infertility_female_primary                                        156125 non-null  int64
 13  type_of_infertility_female_secondary                                      156125 non-null  int64
 14  type_of_infertility_male_primary                                          156125 non-null  int64
 15  type_of_infertility_male_secondary                                        156125 non-null  int64
 16  type_of_infertility_couple_primary                                        156125 non-null  int64
 17  type_of_infertility_couple_secondary                                      156125 non-null  int64
 18  cause_of_infertility_tubal_disease                                        156125 non-null  int64
 19  cause_of_infertility_ovulatory_disorder                                   156125 non-null  int64
 20  cause_of_infertility_male_factor                                          156125 non-null  int64
 21  cause_of_infertility_patient_unexplained                                  156125 non-null  int64
 22  cause_of_infertility_endometriosis                                        156125 non-null  int64
 23  cause_of_infertility_cervical_factors                                     156125 non-null  int64
 24  cause_of_infertility_female_factors                                       156125 non-null  int64
 25  cause_of_infertility_partner_sperm_concentration                          156125 non-null  int64
 26  cause_of_infertility_partner_sperm_morphology                             156125 non-null  int64
 27  causes_of_infertility_partner_sperm_motility                              156125 non-null  int64
 28  cause_of_infertility_partner_sperm_immunological_factors                  156125 non-null  int64
 29  main_reason_for_producing_embroys_storing_eggs                            145712 non-null  object
 30  stimulation_used                                                          156125 non-null  int64
 31  type_of_ovulation_induction                                               98820 non-null   object
 32  egg_donor_age_at_registration                                             7711 non-null    object
 33  sperm_donor_age_at_registration                                           21044 non-null   object
 34  donated_embryo                                                            145712 non-null  float64
 35  patient_acting_as_surrogate                                               145712 non-null  float64
 36  type_of_treatment_ivf_or_di                                               156125 non-null  object
 37  specific_treatment_type                                                   156125 non-null  object
 38  pgd                                                                       145712 non-null  float64
 39  pgd_treatment                                                             1405 non-null    float64
 40  pgs                                                                       1927 non-null    float64
 41  pgs_treatment                                                             1000 non-null    float64
 42  elective_single_embryo_transfer                                           145712 non-null  float64
 43  egg_source                                                                156125 non-null  object
 44  sperm_from                                                                156125 non-null  object
 45  fresh_cycle                                                               156125 non-null  int64
 46  frozen_cycle                                                              156125 non-null  int64
 47  eggs_thawed                                                               156125 non-null  int64
 48  fresh_eggs_collected                                                      156125 non-null  int64
 49  fresh_eggs_stored                                                         145712 non-null  float64
 50  total_eggs_mixed                                                          145712 non-null  object
 51  eggs_mixed_with_partner_sperm                                             156125 non-null  int64
 52  eggs_mixed_with_donor_sperm                                               145712 non-null  object
 53  total_embryos_created                                                     145712 non-null  object
 54  eggs_microinjected                                                        145712 non-null  object
 55  embryos_from_eggs_microinjected                                           145712 non-null  float64
 56  total_embryos_thawed                                                      145712 non-null  float64
 57  embryos_transfered                                                        156125 non-null  int64
 58  embryos_transfered_from_eggs_microinjected                                145712 non-null  float64
 59  embryos_stored_for_use_by_patient                                         145712 non-null  float64
 60  embryos_(from_eggs_microinjected)_stored_for_use_by_patient               145712 non-null  float64
 61  date_of_egg_collection                                                    102073 non-null  float64
 62  date_of_egg_thawing                                                       1085 non-null    float64
 63  date_of_egg_mixing                                                        97776 non-null   float64
 64  date_of_embryo_thawing                                                    38899 non-null   float64
 65  date_of_embryo_transfer                                                   116572 non-null  float64
 66  year_of_treatment                                                         156125 non-null  int64
 67  live_birth_occurrence                                                     156125 non-null  int64
 68  number_of_live_births                                                     156125 non-null  int64
 69  early_outcome                                                             126993 non-null  object
 70  number_of_foetal_sacs_with_fetal_pulsation                                156125 non-null  int64
 71  heart_one_weeks_gestation                                                 37342 non-null   object
 72  heart_one_birth_outcome                                                   43311 non-null   object
 73  heart_one_birth_weight                                                    37178 non-null   object
 74  heart_onesex                                                              37452 non-null   object
 75  heart_one_delivery_date                                                   37403 non-null   float64
 76  heart_one_birth_congenital_abnormalities                                  0 non-null       float64
 77  heart_two_weeks_gestation                                                 5003 non-null    object
 78  heart_two_birth_outcome                                                   5690 non-null    object
 79  heart_two_birth_weight                                                    4942 non-null    object
 80  heart_two_sex                                                             5009 non-null    object
 81  heart_two_delivery_date                                                   4995 non-null    float64
 82  heart_two_birth_congenital_abnormalities                                  0 non-null       float64
 83  heart_three_weeks_gestation                                               123 non-null     object
 84  heart_three_birth_outcome                                                 159 non-null     object
 85  heart_three_birth_weight                                                  118 non-null     object
 86  heart_three_sex                                                           123 non-null     object
 87  heart_three_delivery_date                                                 120 non-null     float64
 88  heart_three_birth_congenital_abnormalities                                0 non-null       float64
 89  heart_four_weeks_gestation                                                1 non-null       object
 90  heart_four_birth_outcome                                                  1 non-null       object
 91  heart_four_birth_weight                                                   1 non-null       object
 92  heart_four_sex                                                            1 non-null       object
 93  heart_four_delivery_date                                                  1 non-null       float64
 94  heart_four_birth_congenital_abnormalities                                 0 non-null       float64
dtypes: float64(27), int64(34), object(34)
memory usage: 114.3+ MB

In [102]:
util.pickle_dump(raw_dataset, config_data["cleaned_raw_dataset_path"])

## 4. Data Defense

In [116]:
def check_data(input_data, params):
    # Check data types
    assert input_data.select_dtypes("object").columns.to_list() == params["object_columns"], "an error occurs in object column(s)."
    assert input_data.select_dtypes("int").columns.to_list() == params["int32_columns"], "an error occurs in int32 column(s)."

    # Check range of data
    assert input_data['total_number_of_previous_ivf_cycles'].between(params['range_total_number_of_previous_ivf_cycles'][0], params['range_total_number_of_previous_ivf_cycles'][1]).sum() == len(input_data), 'an error occurs in total_number_of_previous_ivf_cycles range.'
    assert input_data['total_number_of_ivf_pregnancies'].between(params['range_total_number_of_ivf_pregnancies'][0], params['range_total_number_of_ivf_pregnancies'][1]).sum() == len(input_data), 'an error occurs in total_number_of_ivf_pregnancies range.'
    assert input_data['total_number_of_live_births_conceived_through_ivf'].between(params['range_total_number_of_live_births_conceived_through_ivf'][0], params['range_total_number_of_live_births_conceived_through_ivf'][1]).sum() == len(input_data), 'an error occurs in total_number_of_live_births_-_conceived_through_ivf range.'
    assert input_data['type_of_infertility_female_primary'].between(params['range_type_of_infertility_female_primary'][0], params['range_type_of_infertility_female_primary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-_female_primary range.'
    assert input_data['type_of_infertility_female_secondary'].between(params['range_type_of_infertility_female_secondary'][0], params['range_type_of_infertility_female_secondary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-_female_secondary range.'
    assert input_data['type_of_infertility_male_primary'].between(params['range_type_of_infertility_male_primary'][0], params['range_type_of_infertility_male_primary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-_male_primary range.'
    assert input_data['type_of_infertility_male_secondary'].between(params['range_type_of_infertility_male_secondary'][0], params['range_type_of_infertility_male_secondary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-_male_secondary range.'
    assert input_data['type_of_infertility_couple_primary'].between(params['range_type_of_infertility_couple_primary'][0], params['range_type_of_infertility_couple_primary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-couple_primary range.'
    assert input_data['type_of_infertility_couple_secondary'].between(params['range_type_of_infertility_couple_secondary'][0], params['range_type_of_infertility_couple_secondary'][1]).sum() == len(input_data), 'an error occurs in type_of_infertility_-couple_secondary range.'
    assert input_data['cause_of_infertility_tubal_disease'].between(params['range_cause_of_infertility_tubal_disease'][0], params['range_cause_of_infertility_tubal_disease'][1]).sum() == len(input_data), 'an error occurs in cause__of_infertility_-_tubal_disease range.'
    assert input_data['cause_of_infertility_ovulatory_disorder'].between(params['range_cause_of_infertility_ovulatory_disorder'][0], params['range_cause_of_infertility_ovulatory_disorder'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_ovulatory_disorder range.'
    assert input_data['cause_of_infertility_male_factor'].between(params['range_cause_of_infertility_male_factor'][0], params['range_cause_of_infertility_male_factor'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_male_factor range.'
    assert input_data['cause_of_infertility_patient_unexplained'].between(params['range_cause_of_infertility_patient_unexplained'][0], params['range_cause_of_infertility_patient_unexplained'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_patient_unexplained range.'
    assert input_data['cause_of_infertility_endometriosis'].between(params['range_cause_of_infertility_endometriosis'][0], params['range_cause_of_infertility_endometriosis'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_endometriosis range.'
    assert input_data['cause_of_infertility_cervical_factors'].between(params['range_cause_of_infertility_cervical_factors'][0], params['range_cause_of_infertility_cervical_factors'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_cervical_factors range.'
    assert input_data['cause_of_infertility_female_factors'].between(params['range_cause_of_infertility_female_factors'][0], params['range_cause_of_infertility_female_factors'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_female_factors range.'
    assert input_data['cause_of_infertility_partner_sperm_concentration'].between(params['range_cause_of_infertility_partner_sperm_concentration'][0], params['range_cause_of_infertility_partner_sperm_concentration'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-_partner_sperm_concentration range.'
    assert input_data['cause_of_infertility_partner_sperm_morphology'].between(params['range_cause_of_infertility_partner_sperm_morphology'][0], params['range_cause_of_infertility_partner_sperm_morphology'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-__partner_sperm_morphology range.'
    assert input_data['causes_of_infertility_partner_sperm_motility'].between(params['range_causes_of_infertility_partner_sperm_motility'][0], params['range_causes_of_infertility_partner_sperm_motility'][1]).sum() == len(input_data), 'an error occurs in causes_of_infertility_-_partner_sperm_motility range.'
    assert input_data['cause_of_infertility_partner_sperm_immunological_factors'].between(params['range_cause_of_infertility_partner_sperm_immunological_factors'][0], params['range_cause_of_infertility_partner_sperm_immunological_factors'][1]).sum() == len(input_data), 'an error occurs in cause_of_infertility_-__partner_sperm_immunological_factors range.'
    assert input_data['stimulation_used'].between(params['range_stimulation_used'][0], params['range_stimulation_used'][1]).sum() == len(input_data), 'an error occurs in stimulation_used range.'
    assert input_data['fresh_cycle'].between(params['range_fresh_cycle'][0], params['range_fresh_cycle'][1]).sum() == len(input_data), 'an error occurs in fresh_cycle range.'
    assert input_data['frozen_cycle'].between(params['range_frozen_cycle'][0], params['range_frozen_cycle'][1]).sum() == len(input_data), 'an error occurs in frozen_cycle range.'
    assert input_data['eggs_thawed'].between(params['range_eggs_thawed'][0], params['range_eggs_thawed'][1]).sum() == len(input_data), 'an error occurs in eggs_thawed range.'
    assert input_data['fresh_eggs_collected'].between(params['range_fresh_eggs_collected'][0], params['range_fresh_eggs_collected'][1]).sum() == len(input_data), 'an error occurs in fresh_eggs_collected range.'
    assert input_data['eggs_mixed_with_partner_sperm'].between(params['range_eggs_mixed_with_partner_sperm'][0], params['range_eggs_mixed_with_partner_sperm'][1]).sum() == len(input_data), 'an error occurs in eggs_mixed_with_partner_sperm range.'
    assert input_data['embryos_transfered'].between(params['range_embryos_transfered'][0], params['range_embryos_transfered'][1]).sum() == len(input_data), 'an error occurs in embryos_transfered range.'

In [117]:
check_data(raw_dataset, config_data)

## 5. Data Splitting

In [118]:
# Split input/variable/feature with target/labet/output
x = raw_dataset[config_data["predictors"]].copy()
y = raw_dataset['live_birth_occurrence'].copy()

In [119]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156125 entries, 0 to 158518
Data columns (total 28 columns):
 #   Column                                                    Non-Null Count   Dtype
---  ------                                                    --------------   -----
 0   patient_age_at_treatment                                  156125 non-null  object
 1   total_number_of_previous_ivf_cycles                       156125 non-null  int64
 2   total_number_of_ivf_pregnancies                           156125 non-null  int64
 3   total_number_of_live_births_conceived_through_ivf         156125 non-null  int64
 4   type_of_infertility_female_primary                        156125 non-null  int64
 5   type_of_infertility_female_secondary                      156125 non-null  int64
 6   type_of_infertility_male_primary                          156125 non-null  int64
 7   type_of_infertility_male_secondary                        156125 non-null  int64
 8   type_of_infertility_couple_primary                        156125 non-null  int64
 9   type_of_infertility_couple_secondary                      156125 non-null  int64
 10  cause_of_infertility_tubal_disease                        156125 non-null  int64
 11  cause_of_infertility_ovulatory_disorder                   156125 non-null  int64
 12  cause_of_infertility_male_factor                          156125 non-null  int64
 13  cause_of_infertility_patient_unexplained                  156125 non-null  int64
 14  cause_of_infertility_endometriosis                        156125 non-null  int64
 15  cause_of_infertility_cervical_factors                     156125 non-null  int64
 16  cause_of_infertility_female_factors                       156125 non-null  int64
 17  cause_of_infertility_partner_sperm_concentration          156125 non-null  int64
 18  cause_of_infertility_partner_sperm_morphology             156125 non-null  int64
 19  causes_of_infertility_partner_sperm_motility              156125 non-null  int64
 20  cause_of_infertility_partner_sperm_immunological_factors  156125 non-null  int64
 21  stimulation_used                                          156125 non-null  int64
 22  fresh_cycle                                               156125 non-null  int64
 23  frozen_cycle                                              156125 non-null  int64
 24  eggs_thawed                                               156125 non-null  int64
 25  fresh_eggs_collected                                      156125 non-null  int64
 26  eggs_mixed_with_partner_sperm                             156125 non-null  int64
 27  embryos_transfered                                        156125 non-null  int64
dtypes: int64(27), object(1)
memory usage: 34.5+ MB

In [120]:
# First split, splitting train and test set with ratio 0.7:0.3 and do stratify splitting
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42, stratify = y)

In [121]:
# Second split, splitting test and valid set with ratio 0.5:0.5 and do stratify splitting
x_valid, x_test, y_valid, y_test = train_test_split(x_test, y_test, test_size = 0.5, random_state = 42, stratify = y_test)

In [122]:
util.pickle_dump(x_train, config_data["train_set_path"][0])
util.pickle_dump(y_train, config_data["train_set_path"][1])

util.pickle_dump(x_valid, config_data["valid_set_path"][0])
util.pickle_dump(y_valid, config_data["valid_set_path"][1])

util.pickle_dump(x_test, config_data["test_set_path"][0])
util.pickle_dump(y_test, config_data["test_set_path"][1])